html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  transition: all 1s linear;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  transform: rotate(-10deg);
  left: 13em;
  top: 6em;
  z-index: 1;
}

.polaroid:nth-child(2) {
  transform: rotate(3deg);
  left: 18em;
  top: 9em;
  z-index: 3;
}

.polaroid:nth-child(3) {
  transform: rotate(28deg);
  left: 23em;
  top: 6em;
  z-index: 2;
}

.polaroid:hover {
  box-shadow: -4px 7px 63px 0px rgba(0,0,0,1);
  transform: rotate(0deg);
  z-index: 4;

}
